.div-title-home{
    background-color: rgb(97, 97, 97);
}

.title-home{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(230, 230, 230) !important;
}

.highlight-container {
    /* display: flex; */
    justify-content: center;
  }
  
  .highlight {
    width: 100vw;
    background-color: #6cbdb5;
    text-align: center;
    padding: 20px;
  }
  
  .highlight span {
    color: white;
    font-size: 24px;
  }